.card {
  position: relative;
}

.card__title {
  max-width: 353px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  margin: 12px 0 0;
  color: rgb(33, 33, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__remove-btn {
  position: absolute;
  background: transparent url(../images/delete-default.svg) center no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  top: 10px;
  left: 371px;
}

.card__remove-btn:hover {
  cursor: pointer;
  background-image: url(../images/delete-hover.svg);
}

.card__like-btn {
  background: transparent url("../images/like-icon-dark.svg") center no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url("../images/like-icon-liked.svg");
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url("../images/like-icon-liked-hover.svg");
}

@media screen and (max-width: 627px) {
  .card {
    position: relative;
  }

  .card__title {
    max-width: 228px;
    font-size: 16px;
    line-height: 1;
  }

  .card__image {
    height: 288px;
  }

  .card__remove-btn {
    left: 246px;
  }
}
