.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 16px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.modal__caption {
  background-color: #212121;
  color: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 8px 0 0;
  width: fit-content;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
  transition-delay: 0s;
  border-radius: 8px;
}

.modal__content {
  position: relative;
}

.modal__close-btn {
  position: absolute;
  background: transparent url("../images/close-icon.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal__close-btn_type_preview {
  background-image: url("../images/close-light.svg");
  opacity: 1;
  position: absolute;
  top: 0;
  right: -45px;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
  transition: background-color 0.4s ease-in-out;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  color: rgb(33, 33, 33);
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border-radius: 8px;
  border-style: 1px;
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  cursor: text;
  border-color: rgba(33, 33, 33, 1);
}

.modal__error {
  display: block;
  /* TODO - add correct font sizes */
  color: #ff0000;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 90%;
  transition: background-color 0.4s ease-in-out;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__image {
    max-width: 90vw;
    max-height: 90vh;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 1.2;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -40px;
    right: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
